@import "../../global.scss";

.wadah {
  padding-top: 32px;
}
.wadahPratinjau {
  // background: #0d0d0d;
  // border: $border;
  padding: 12px;
  border-radius: 2px;
  > h1 {
    margin-top: 0;
  }
}
.tombolPratinjau {
  > button {
    margin-right: 8px;
  }
}
.wadahEditor {
  padding: 12px;
  > div > div  {
    margin: 8px 0;
  }
}
.input {
  width: 100%;
}
.textarea {
  width: 100%;
  min-height: 128px;
  resize: vertical;
}