@import "../../global.scss";

.wadah {
  position: fixed;
  z-index: 10;
  height: 56px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #212121;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
body {
  margin-top: 56px;
}