@import "../../global.scss";

.wadah {
  position: fixed;
  z-index: 10;
  height: 64px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #0d0d0d;
  border-bottom: $border;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
body {
  margin-top: 64px;
}