@import "../../global.scss";

.tombol {
  background: #1A1A1A;
  border: $border;
  color: #ffffff;
  cursor: pointer;
  height: 48px;
  border-radius: 2px;
  padding: 0 24px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  transition-duration: 250ms;
  transition-property: background-color;
  &:hover {
    background: #2C2C2C;
  }
}
