@import "../../global.scss";

.wadah {
  padding-top: 32px;
  max-width: 1024px;
  margin: auto;
}

.wadahTombol {
  display: flex;
  justify-content: center;
  @media (max-width: 720px) {
    flex-direction: column;
  }
  > button {
    width: 128px;
    height: 128px;
    display: flex;
    margin: 0 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    color: #ffffff;
    cursor: pointer;
    transition: 250ms;
    @media (max-width: 720px) {
      flex-direction: row;
      height: 48px;
      width: auto;
      justify-content: start;
      margin: 0;
      padding: 0 4px;
    }

    &:hover {
      background: #0d0d0d;
      @media (min-width: 720px) {
        transform: scale(1.1);
      }
      box-shadow: 0px 4px 19px rgba(101, 101, 101, 0.03),
        0px 0px 42px rgba(41, 41, 41, 0.25);
    }
    > span {
      margin: 0 16px;
      @media (min-width: 720px) {
        font-size: 48px;
        margin-bottom: 8px;
      }
    }
  }
}

.wadahBawah {
  margin-top: calc(100vh - 320px);
  @media(max-height: 480px) {
    margin-top: 32px;
  }
  text-align: center;
}
