html {
  overflow-x: hidden;
}
body {
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
button,
input,
textarea {
  border: none;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
